body {
	background-color: rgb(229, 229, 229);
	position: relative;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.fifty {
	float: left;
	width: 50%;
}

.card {
	border: 1px solid #d8d8d8;
	border-bottom-width: 2px;
	background-color: #fff;
}

/* NAVIGATION */

#navigation-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: #f5f5f5;
	border-bottom: 1px solid #d8d8d8;
	padding: 10px;
}

#navigation-container button {
	outline: none;
}

#navigation-container .nav {
	float: left;
	margin: 0 10px;
}

#sign-in-label {
	float: left;
}

/* LOGIN BUTTONS */

#login-button-container {
	float: right;
}

#login-buttons .login-image {
	top: 9px;
}

#login-buttons .login-button {
	font-size: 14px;
	padding: 6px 12px;
}

/* END OF LOGIN BUTTONS */

/* END OF NAVIGATION */

/* CONTENT */

#content-container {
	padding-top: 80px;
}

/* END OF CONTENT */

/* STATS */

#stats-container {
	padding: 0 20px;
	display: none;
}

#stats-container.open {
	display: block;
}

#stats-container .card{
	margin-bottom: 20px;
}

#stats-container .stats-title {
	padding: 10px 20px;
}

#stats-container .stats-table-container {
	padding: 20px;
}

/* END OF STATS */

/* END OF NAVIGATION */

/* RESULTS */

#results-container {
	padding: 0 20px;
	display: none;
}

#results-container.open {
	display: block;
}

.result-container {
	margin-bottom: 20px;
	padding-top: 20px;
	position: relative;
}

.delete-button {
	position: absolute;
	top: 2px;
	right: 6px;
}

.date-score-container {
	margin-bottom: 20px;
}

.date-container, .scores-container {
	padding: 10px 20px;
}

.score-container {
	padding: 0 20px;
}

/* TEAMS */

.teams-container {
	border-top: 1px solid #ccc;
	background-color: #f5f5f5;
}

.player-selector-container {
	padding: 10px 20px;
}

.player-selector-container.winner {
	background-color: #e6f6e4;
}

.player {
	text-overflow: ellipsis;
	overflow: hidden;
}

.player.selected {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.player.selected:hover {
	background-color: #449d44;
	border-color: #398439;
}

.players-container {
	margin: 8px 0;
}

/* END OF TEAMS */

/* FLAGS */

.score.flag-ca {
	background: url('/img/flags/ca.svg') right 0/contain no-repeat transparent;
}

.score.flag-cz {
	background: url('/img/flags/cz.svg') right 0/contain no-repeat transparent;
}

.score.flag-dj {
	background: url('/img/flags/dj.svg') right 0/contain no-repeat transparent;
}

.score.flag-gb {
	background: url('/img/flags/gb.svg') right 0/contain no-repeat transparent;
}

.score.flag-hu {
	background: url('/img/flags/hu.svg') right 0/contain no-repeat transparent;
}

.score.flag-ua {
	background: url('/img/flags/ua.svg') right 0/contain no-repeat transparent;
}

/* END OF FLAGS */

/* END OF RESULTS */

/* RESPONSIVE */

@media (max-width: 750px) {
	.date-container, .scores-container {
		width: 100%;
	}
	
	.team-container {
		width: 100%;
	}
}

/* END OF RESPONSIVE */