body {
	background-color: rgb(229, 229, 229);
	position: relative;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

button,
.btn, .btn:focus, .btn:active, .btn:hover,
.btn.active, .btn.active:focus, .btn.active:active, .btn.active:hover {
	outline: none;
}

.fifty {
	float: left;
	width: 50%;
}

.card {
	border: 1px solid #d8d8d8;
	border-bottom-width: 2px;
	background-color: #fff;
	margin-bottom: 20px;
}

/* NAVIGATION */

#navigation-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: #f5f5f5;
	border-bottom: 1px solid #d8d8d8;
	padding: 10px;
}

#navigation-container .nav {
	float: left;
	margin: 0 10px;
}

#sign-in-label {
	float: left;
}

/* LOGIN BUTTONS */

#login-button-container {
	float: right;
}

#login-buttons .login-image {
	top: 9px;
}

#login-buttons .login-button {
	font-size: 14px;
	padding: 6px 12px;
}

/* END OF LOGIN BUTTONS */

/* END OF NAVIGATION */

/* CONTENT */

#content-container {
	padding-top: 80px;
}

/* END OF CONTENT */

/* STATS */

#stats-container {
	padding: 0 20px;
	display: none;
}

#stats-container.open {
	display: block;
}

#stats-container .stats-title {
	padding: 10px 20px;
}

#stats-container .stats-table-container {
	padding: 20px;
}

#team-stats-container td, #team-stats-container th {
	text-align: center;
}

#team-stats-container .players {
	position: relative;
	padding-right: 60px;
	text-align: left;
}

#team-stats-container .flag-bg {
	background-position: right center;
	background-size: contain;
	position: absolute;
	top: 0;
	right: 0;
	width: 48px;
	height: 100%;
}

/* END OF STATS */

/* END OF NAVIGATION */

/* RESULTS */

#results-container {
	padding: 0 20px;
	display: none;
}

#results-container.open {
	display: block;
}

.result-container {
	padding-top: 20px;
	position: relative;
}

.delete-button {
	position: absolute;
	top: 3px;
	right: 10px;
}

.players-button {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	border: 0;
	width: 15px;
	height: 15px;
	background: url('/img/icons/people.png') center center/contain no-repeat transparent;
	opacity: .5;
	position: absolute;
	bottom: 8px;
	right: 8px;
}

.players-button:hover {
	opacity: 1;
}

.date-score-container {
	position: relative;
	padding-bottom: 20px;
}

.date-container, .scores-container {
	padding: 10px 20px;
}

.score-container {
	padding: 0 20px;
}

.score.flag-bg {
	background-position: right center;
	background-size: contain;
}

/* TEAMS */

.teams-container {
	display: none;
	border-top: 1px solid #ccc;
	background-color: #f5f5f5;
}

.teams-container.open {
	display: block;
}

.player-selector-container {
	padding: 10px 20px;
}

.player-selector-container.winner {
	background-color: #e6f6e4;
}

.player {
	text-overflow: ellipsis;
	overflow: hidden;
}

.player.selected {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.player.selected:hover {
	background-color: #449d44;
	border-color: #398439;
}

.players-container {
	margin: 8px 0;
}

/* END OF TEAMS */

/* FLAGS */

.flag-bg {
	background-repeat: no-repeat;
	background-color: transparent;
}

.flag-ca {
	background-image: url('/img/flags/ca.svg');
}

.flag-cz {
	background-image: url('/img/flags/cz.svg');
}

.flag-dj {
	background-image: url('/img/flags/dj.svg');
}

.flag-gb {
	background-image: url('/img/flags/gb.svg');
}

.flag-hu {
	background-image: url('/img/flags/hu.svg');
}

.flag-ua {
	background-image: url('/img/flags/ua.svg');
}

/* END OF FLAGS */

/* END OF RESULTS */

/* RESPONSIVE */

@media screen and (max-width: 750px) {
	#content-container {
		padding-top: 55px;
	}

	.card {
		margin-bottom: 0;
		border-width: 1px 1px 0 1px;
	}

	#results-container, #stats-container {
		padding: 0;
	}

	.date-container, .scores-container {
		width: 100%;
	}
	
	.team-container {
		width: 100%;
	}

	#team-stats-container .flag-bg {
		left: 0;
	}

	#team-stats-container .players {
		padding: 0;
		min-width: 28px;
	}

	#team-stats-container .player-names {
		display: none;
	}
}

/* END OF RESPONSIVE */