<template name="stats">
    <div id="stats-container" class="page {{#if show}}open{{/if}}">
        <div id="team-stats-container" class="stat-container card">
            <h2 class="stats-title bg-primary">Team stats</h2>
            <div class="stats-table-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>P</th>
                            <th>+</th>
                            <th>-</th>
                            <th>W</th>
                            <th>L</th>
                            <th>T</th>
                            <th>G</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each teamStats}}
                        <tr>
                            <td class="players-and-team-flag">
                                <div class="player-names">{{player1}}{{#if player2}}, {{player2}}{{/if}}</div>
                                <div class="team-details-container">
                                    <img class="flag-bg" src="/img/flags/{{team.code}}.svg" />
                                    <span class="team-players"><i class="glyphicon glyphicon-flash"></i> {{player1}} <i class="glyphicon glyphicon-record"></i> {{player2}}</span>
                                </div>
                            </td>
                            <td class="points">{{points}}</td>
                            <td class="goals-for">{{goalsFor}}</td>
                            <td class="goals-against">{{goalsAgainst}}</td>
                            <td class="wins">{{winCount}}</td>
                            <td class="loss">{{lossCount}}</td>
                            <td class="ties">{{tieCount}}</td>
                            <td class="games">{{gamesCount}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="player-stats-container" class="stat-container card table-responsive">
            <h2 class="stats-title bg-info">Player stats</h2>
            <div class="stats-table-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>P</th>
                            <th>+</th>
                            <th>-</th>
                            <th>W</th>
                            <th>L</th>
                            <th>T</th>
                            <th>G</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each playerStats}}
                        <tr>
                            <td>{{name}}</td>
                            <td class="points">{{points}}</td>
                            <td class="goals-for">{{goalsFor}} ({{goalsScored}})</td>
                            <td class="goals-against">{{goalsAgainst}} ({{goalsTaken}})</td>
                            <td class="wins">{{winCount}}</td>
                            <td class="loss">{{lossCount}}</td>
                            <td class="ties">{{tieCount}}</td>
                            <td class="ties">{{gamesCount}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>