/* CONTENT */

.page {
    padding: 0 20px;
    display: none;
}

.page.open {
    display: block;
}

/* END OF CONTENT */

/* TEAM FLAG PLAYERS */

.team-players {
    opacity: 0;
    position: absolute;
    bottom: -55px;
    left: -9999em;
    z-index: 100;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .4);
    border-radius: 3px;
    white-space: nowrap;
    padding: 2px 5px;
    font-size: 12px;
    transition: opacity .2s ease-out, bottom .2s ease-out;

    .team:hover &,
    .team-details-container:hover & {
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
        bottom: -35px;
    }
}

.team,
.team-details-container {
    &:after {
        opacity: 0;
        content: '';
        position: absolute;
        z-index: 10;
        bottom: -34px;
        left: -9999em;
        width: 0;
        height: 0;
        margin: -12px 0 0 -6px;
        border: 6px solid transparent;
        border-bottom-color: #fff;
        transition: opacity .2s ease-out, bottom .2s ease-out;
    }

    &:hover:after {
        left: 50%;
        opacity: 1;
        bottom: -14px;
    }

    &:hover .team-players {
        right: auto;
        left: 0;
        transform: none;
    }
}

/* END OF TEAM FLAG PLAYERS */

@media screen and (min-width: 1000px) {
    .page {
        display: block;
        float: left;
        width: 50%;
    }
}

@media screen and (max-width: 750px) {
    .page {
        padding: 0;
    }
}