/* FLAGS */

.flag-bg {
    background-repeat: no-repeat;
    background-color: transparent;
}

.flag-ca {
    background-image: url('/img/flags/ca.svg');
}

.flag-cz {
    background-image: url('/img/flags/cz.svg');
}

.flag-dj {
    background-image: url('/img/flags/dj.svg');
}

.flag-gb {
    background-image: url('/img/flags/gb.svg');
}

.flag-hu {
    background-image: url('/img/flags/hu.svg');
}

.flag-sk {
    background-image: url('/img/flags/sk.svg');
}

.flag-ua {
    background-image: url('/img/flags/ua.svg');
}

.flag-fr {
    background-image: url('/img/flags/fr.svg');
}

.flag-de {
    background-image: url('/img/flags/de.svg');
}

.flag-pl {
    background-image: url('/img/flags/pl.svg');
}

.flag-us {
    background-image: url('/img/flags/us.svg');
}

.flag-ro {
    background-image: url('/img/flags/ro.svg');
}

.flag-sl {
    background-image: url('/img/flags/sl.svg');
}

/* END OF FLAGS */