#tournaments-config-container {
    display: none;
    border-top: 1px solid #d8d8d8;
    background-color: #fff;
}

#tournaments-container.open #tournaments-config-container {
    display: block;
}

#tournaments-config-container .players-and-team-flag {
    padding: 12px 12px 12px 80px;
    line-height: 1.42857143;
}

#tournaments-config-container .flag-bg {
    width: 59px;
    left: 0;
    right: auto;
}