/* TOURNAMENTS */

#tournaments-container {
    padding-top: 56px;
    margin-bottom: 20px;
    background-color: #eee;
    border-bottom: 1px solid #d8d8d8;
}

#tournaments-container ul {
    overflow-x: auto;
    white-space: nowrap;
}

#tournaments li {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
}

#tournaments .tournament {
    position: relative;
    padding-right: 34px;
}

#tournaments .delete-button {
    top: 9px;
    right: 12px;
}

.tournament.selected,
.tournament:hover {
    background-color: #5cb85c;
    color: #fff;
}

#addTournamentButton {
    color: #fff;
    background-color: #5cb85c;
    opacity: .2;
    transition: opacity .2s linear;
}

#addTournamentButton:hover {
    opacity: 1;
}

#tournaments-config-container {
    display: none;
    border-top: 4px solid #5cb85c;
    background-color: #fff;
}

#tournaments-container.open #tournaments-config-container {
    display: block;
}

#tournaments-config-container .players-and-team-flag {
    padding: 12px 36px 12px 80px;
    line-height: 1.42857143;
}

#tournaments-config-container .flag-bg {
    width: 59px;
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
}

.tournament-team:hover {
    background-color: #efefef;
}

#tournament-teams .delete-button {
    top: 10px;
    right: 12px;
}

/* END OF TOURNAMENTS */

@media screen and (max-width: 750px) {
    #tournaments-container {
        margin-bottom: 0;
        border: 0;
    }
}

@media screen and (max-width: 480px) {
    #tournaments-container {
        padding-top: 46px;
    }

    .tournament {
        padding: 10px;
    }
}