/* TOURNAMENTS */

#tournaments-container {
    padding-top: 56px;
    margin-bottom: 20px;
    background-color: #eee;
    border-bottom: 1px solid #d8d8d8;
}

#tournaments-container ul {
    overflow: hidden;
}

.tournament {
    float: left;
    padding: 10px 20px;
    cursor: pointer;
}

.tournament.selected,
.tournament:hover {
    background-color: #5cb85c;
    color: #fff;
}

#tournaments-config-container {
    display: none;
    border-top: 1px solid #d8d8d8;
    background-color: #fff;
}

#tournaments-container.open #tournaments-config-container {
    display: block;
}

#tournaments-config-container .players-and-team-flag {
    padding: 12px 12px 12px 80px;
    line-height: 1.42857143;
}

#tournaments-config-container .flag-bg {
    width: 59px;
    left: 0;
    right: auto;
}

/* END OF TOURNAMENTS */